body {
	font-family: 'Alegreya', serif;
	margin: 0;
	padding: 0;
	line-height: 24px;
	background: #f8f6f5;
	font-size: 20px;
    background-image: url("../images/side-wall.jpg");
	background-color: #cccccc;
}


a {
	outline: none !important;
	text-decoration: none;
	color: inherit;
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	color: inherit;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
}

.navbar{
    margin-bottom: 30px;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li {
	min-width: 144px;
	font-weight: 400;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	border-right: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	padding: 16px 0;
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
}

.menu li:last-child {
	border-right: none;
}

.menu li span {
	color: #aa9f9a;
}

.menu li:hover {
	background: rgb(200, 54, 54);
}

.slider{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: rgba(0, 0, 0);
    color: #ffffff;
    padding: 20px;
}
.mySlides{
    height: 615px;
    margin: 16px;
    border: 10px solid beige;
}
.mini-img img {
    margin-left: 8px;
    margin-top: 17px;
    border: 10px solid beige;
}

.slider-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.slider-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.slider-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.slider-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.slider-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.slider-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.slider-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.slider-animate-input{transition:width 0.4s ease-in-out}.slider-animate-input:focus{width:100%!important}


.movie-reviews{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    margin-top: 60px;
    padding: 30px;
    background: #fff;
}
.movie-img{
    width: 40%;
}
.movie-img img { 
    width: 453px;
}

.movie-desc{
    width: 60%;
    padding-right: 45px;
}

.movie-detail{
    padding-left: 14px;
    border: 1px solid #e4d9d1;
}

.movie-rate {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    margin-bottom: 70px;
}

.movie-rate .rate {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.movie-rate .rate i {
    font-size: 36px;
    color: #f5b50a;
}
.movie-rate .rate p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 11px;
}
.movie-rate .rate-star {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
    border-left: 1px solid #405266;
    padding-left: 30px;
    height: 54px;
}
.movie-rate .rate-star p{
    margin-right: 20px;
}
.movie-rate .rate p span {
    font-size: 15px;
    font-weight: 400;
}
.movie-rate .rate p span.rv {
    font-size: 14px;
    font-weight: 400;
}
.comment-body {
	margin-bottom: 52px;
	border: 1px solid #e4d9d1;
	padding: 15px;
}

.comment-body .avatar {
	height: 20px;
}

.comment-body .comment-meta {
	border-bottom: 1px solid #e4d9d1;
	vertical-align: middle;
}

.grid-box{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.comment{
    background-color: #fff;
    padding: 30px;
}

.footer {
	background-color: #292c2f;
	color: #fff;
	text-align: center;
	padding: 45px;
}